.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.actions {
  display: flex;
  gap: 30px;
}

.hamburgerIcon {
  display: none;
}

@media screen and (max-width: 500px) {
  .actions {
    display: none;
  }
  .hamburgerIcon {
    display: block;
  }
}
