.container {
  background-color: #454545;
  padding: 50px;
  color: white;
  display: flex;
  align-items: center;
}

.container h2 {
  font-size: 64px;
}

.container p {
  font-size: 36px;
}

.message {
  text-align: right;
}

.image img {
  width: 350px;
  height: 350px;
}
