.primary {
  background-color: #c51f3b;
  padding: 10px 60px;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.primary:hover {
  background-color: #95182d;
}

.secondary {
  background-color: transparent;
  padding: 10px 40px;
  color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
}


.primary:hover, .primary:focus, .secondary:hover, .secondary:focus { 
  animation: floating 2s ease infinite;
}

@keyframes floating {
  0% { 
    transform: translate(0,  0px);
    
    
   }
  50%  { 
    transform: translate(0, -8px);
   }
  100%   { 
    transform: translate(0, 0px);
   }   
}

